/* ESTILO DO CABEÇALHO */

.header .menu a:hover{
    color: black;
    transform: scale(1.05);
    transition: 0.3s ;
}

.titulo label{
    color: black;
}

.behance img{
    height: 10px;
    width: auto;
    color: black;
}

.btn-abrir-menu i{
    color: black;
}


/* ESTILO FORM */

.formulario{
    margin: 60px 0;
}

.formulario h1{
    font-size: 50px;
}

.formulario h1,.formulario p{
    text-align: center;
}

.formulario p{
    margin-bottom: 50px;
    margin-top: 30px;
}

form{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

form input, textarea{
    width: 100%;
    background-color: rgb(207, 207, 207);
    border: 0;
    outline: none;
    padding: 20px 15px;
    border-radius: 10px;
}

form textarea{
    resize: none;
    height: 200px;
}

.formulario a{
    color: black; 
}

.formulario a:hover{
    background-image: linear-gradient(to right, rgb(59, 0, 66), purple, red, rgb(138, 138, 0) );
    background-clip: text;
    -webkit-backdrop-clip: text;
    -webkit-text-fill-color: transparent
}

form input[type=submit]{
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

form input[type=submit]:hover{
    background-color: rgb(177, 177, 177);
    color: white;
    transform: scale(1.05);
}
